NEO4J_HOST=localhost
# Neo4j authentication configuration.
# If omitted or commented out, authentication will be disabled.
# Uncomment below to enable authentication. The value must be prefixed with "neo4j/..."
#
# NEO4J_AUTH=neo4j/your_password
#
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687

CHECKM2_DB_PATH = ''
BLAST_DB_PATH = ''