[submodule "NosoGraph_Pipelines"]
	path = NosoGraph_Pipelines
	url = git@github.com:minaminii/NosoGraph_Pipelines.git
	branch = main
[submodule "nosograph-frontend"]
	path = nosograph-frontend
	url = git@github.com:minaminii/nosograph-frontend.git
	branch = master
