[submodule "NosoGraph_Pipelines"]
	path = NosoGraph_Pipelines
	url = https://github.com/minaminii/NosoGraph_Pipelines.git
	branch = main
[submodule "nosograph-frontend"]
	path = nosograph-frontend
	url = https://github.com/minaminii/nosograph-frontend.git
	branch = master
